html {
    margin: 0;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
}

* {
    margin: 0;
}

header {
    background: linear-gradient(to bottom, #624E2F, #A88D65);
    color: white;
    padding: 1rem;
}

img {
    vertical-align: middle; /* Alinha verticalmente com o texto */
}

#redes_sociais {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Espaçamento entre as linhas */
    padding: 1rem;
}
.flex{
    display: flex;
}
#redes_sociais p {
    display: flex;
    align-items: center; /* Alinha verticalmente com o ícone */
    gap: 0.5rem; /* Espaçamento entre o ícone e o texto */
}

#elementos_vertical_centralizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#titulo {
    font-size: 5rem;
    margin: 3rem 0;
}

#linha_titulo {
    border: none;
    border-top: 2px solid white;
    width: 60rem;
    margin: 1rem 0 3rem 0;/*margin: [top] [right] [bottom] [left];*/
}

#texto_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.5; /* ou um valor em pixels como 24px */
}

#texto_section h2 {
    margin: 1rem 0;
}

#texto_section p {
    margin: 0 1rem;
}

#Imagem_inicial {
    height: 25rem;
    object-fit: contain; /* Ou use 'contain' se preferir */

}

#logo_main {
    height: 20rem;
}

#elementos_horizontal {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espaçamento entre o texto e a imagem */
    margin: 0 10rem ;/*margin: [top] [right] [bottom] [left];*/
}
@media (max-width: 768px) {
    html {
        font-size: 17px; /* Ajusta o tamanho da fonte para telas menores */
    }
    header{
        text-align: center;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    #logo_main {
        height: 16rem;
    }

    #titulo {
        font-size: 3.5rem;
        margin: 3rem 0;
    }

    #linha_titulo {
        width: 20rem;
        }

    #elementos_horizontal {
        flex-direction: column; /* Empilha os elementos verticalmente */
        margin: 0; /* Remove a margem */
    }


    #redes_sociais p {
        font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
        justify-content: center;
    }

    h3 img {
        height: 1.5rem; /* Ajusta o tamanho do ícone no h3 */
        vertical-align: middle; /* Alinha verticalmente o ícone */
        margin-right: 0.5rem; /* Adiciona um espaço entre o ícone e o texto */
    }
}