* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    background: linear-gradient(to bottom, #624E2F, #A88D65);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative; /* Importante para centralização */
}

#redes_sociais {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    position: absolute;
    left: 1rem; /* Redes sociais alinhadas à esquerda */
    top: 1rem;
}
#redes_sociais p {
    display: flex;
    align-items: center; /* Alinha o texto verticalmente com o ícone */
    font-size: 14px; /* Ajuste conforme necessário */
    margin: 0; /* Remove margens padrão */
}
#redes_sociais img, i {
    margin-right: 0.5rem; /* Espaço entre o ícone e o texto */
}



#logo_titulo {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
#logo_titulo > * {
    margin: 3rem 0 3rem; /* Aplica margem superior e inferior padrão a todos os filhos */
}

#logo_main {
    width: 70vh; /* Tamanho do logo */
    margin: 1rem;
}

#titulo {
    margin-top: 0.5rem;
    font-size: 4rem;
}

#linha_titulo {
    width: 80vw;
    border: 1px solid white;
    margin: 0.5rem auto; /* Centraliza a linha horizontalmente */
}

#imagem_inicial {
    width: 31vw;
    margin: 2rem auto; /* Centraliza a imagem no header */
}
#secao_img{
    display: flex;
    align-items: center;
    margin: 0 8rem;
}
#texto_section{
    margin: 0 3rem;
    line-height: 1.7;
    text-align: left;
}
#texto_section h2{
    margin-bottom: 2.5rem;
    font-size: 2rem;
}



h3 img {
    height: 1.5rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}
#cards_trabalho{
    background-color: #313131;

}
#trabalhos_titulo{
    font-size: 3.5rem;
    padding: 4rem;
    text-align: center;
    color: white;
}

.card-container {
    margin: 0 5rem;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}



.card {
    background:linear-gradient(to left, #624E2F, #A88D65);
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 23rem;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
.img_card{
    width: 100%;
    height: 400px;
}
.img_card img {
    width: 100%; /* Faz a imagem preencher a largura do contêiner */
    height: 100%; /* Faz a imagem preencher a altura do contêiner */
    object-fit: cover; /* Faz a imagem preencher o contêiner, recortando conforme necessário */
    display: block; /* Remove o espaçamento abaixo da imagem */
}

.description {
    padding: 15px;
}

.description h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.description p {
    color: #e7e6e6;
    font-size: 14px;
}

#secao_servicos{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
                url('media/background.jfif') no-repeat center center;
    background-size: cover; /* Faz a imagem cobrir toda a área */
    color: white; /* Texto em branco para contraste com a imagem escurecida */
    text-align: center;
    padding: 1rem 0;
    position: relative;
}
#trabalhos2_titulo{
    font-size: 3.5rem;
    padding: 4rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
#lista_servicos{
    display: flex;
    justify-content: space-around;
}
#lista_servicos ul{
    padding:0 5rem;
    font-size: 5rem;
}
#lista_servicos li{
    font-size: 2rem;
    padding: 1rem;
    text-align: left;
}
h3 {
    margin-top: 1rem;
}
@media (max-width: 768px) {
    /* Centraliza tudo no mobile */
    * {
        text-align: center;
    }
    
    /* Ajusta o tamanho da fonte para telas menores */
    html {
        font-size: 17px;
    }

    /* Modificações no header no mobile */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Ajuste para redes sociais no mobile */
    #redes_sociais {
        position: static; /* Remove o posicionamento absoluto no mobile */
        margin-bottom: 1rem; /* Adiciona espaço entre redes sociais e logo */
        align-items: center;
    }

    /* Ajusta o tamanho da logo no mobile */
    #logo_main {
        width: 21rem;
    }

    /* Centraliza a logo e o texto */
    #logo_titulo {
        display: flex;
        flex-direction: column;
    }

    /* Ajustes adicionais para texto e imagem */
    #secao_img {
        display: flex;
        flex-direction: column;
        margin: 0 0rem;
    }
    #imagem_inicial {
        width: 20rem;
        margin: 0; /* Centraliza a imagem no header */
    }



    #titulo {
        font-size: 3.5rem;
        margin: 3rem 0;
    }

    #linha_titulo {
        width: 20rem;
    }

    /* Empilha os elementos na horizontal */
    #elementos_horizontal {
        flex-direction: column;
        margin: 0;
    }

    /* Ajustes no tamanho do texto das redes sociais */
    #redes_sociais p {
        font-size: 14px;
    }
    #trabalhos_titulo{
        font-size: 2rem;
    }
    #trabalhos2_titulo{
        font-size: 2rem;
    }

    h3 img {
        height: 1.5rem;
        vertical-align: middle;
        margin-right: 0.5rem;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        align-items: center;
    }
    .card {
        width: 19rem;
    }
    .img_card{
        width: 100%;
        height: 200px;
    }
    #lista_servicos{
        display: flex;
        flex-direction: column;
    }
}
